<!-- <h1 class="signin">Hello anugular {{ title }}</h1>  -->
<!-- <app-sign-in></app-sign-in> -->
<h2>{{ data }}</h2>

<!-- <h2>{{getValue()}}</h2> -->
<!-- <app-login></app-login>

<button (click)="getValue()">Click</button>
<button (click)="getName('Suresh')">Click2</button>
<div><button (click)="getData('xyzs')">Call</button></div>
<input type="text" #xyz (keyup)="getData($event)" placeholder="enter text" /> 
<h1 (mouseover)="getData('over')">Hello</h1> -->
<!-- <input type="text"  #box3 (keyup)="getWhat(box3.value)" placeholder="Enter Name"  /> -->
<!-- <input type="text"  #box3 placeholder="Enter Name"  />
<button (click)="getWhat(box3.value)">Click</button>
<p>
    Box Value:{{displayVal}}
</p> -->
<!-- //counter
<button (click)="counter('add')">++</button>

<p>count:{{count}}</p>
<button (click)="counter('minus')">--</button>
//counter -->
<!--property binding(boolean value works but it doesnot work in interpolation)-->

<!-- <input type="text" name="user-name" value={{name}} disabled={{disable}} id=""> //counts disable as simple string
<br>
<br> -->
<!-- <input type="text" name="user-name" [value]=name [disabled]=disable id="xyz"> //counts disable as js  

<button (click)="c"> disable</button> -->
<!-- <h1 *ngIf="show else elseBlock">Hello Ram</h1>
<ng-template #elseBlock>
    <h1>else condition</h1>
</ng-template> -->
<!-- IfElse  -->
<!-- <h1 *ngIf="show; then ifBlock; else elseBlock"></h1>
<div>
  <ng-template #ifBlock>
    <input type="text" class="text" />
  </ng-template>
</div>
<div>
  <ng-template #elseBlock>
    <input type="text" class="text" value="nothing">  
  </ng-template>
</div>

<button (click)="getDisabled()">Toggle</button> -->
<!-- Multiple ElseIf
<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
    <h1 style="color: green;">Green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue;">Blue Color</h1>
</ng-template>

<ng-template [ngIf]="color==='pink'">
    <h1 style="color: rgb(241, 147, 185);">Pink Color</h1>
</ng-template> -->

<!-- SWitch case

<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color: #00ff5e;">Green Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color: rgb(18, 105, 180);">Blue Color</h1>
    <h1 *ngSwitchCase="'yellow'" style="color: #e1e354;">Yellow Color</h1>
    <h1 *ngSwitchDefault >NO Color</h1>
    
    
</div> -->

<!-- LOOP IN ANGULAR
<h2 *ngFor="let item of users">Name is :{{item}}</h2>
<h2 *ngFor="let item of userDetails">{{item.name}}::: {{item.Email}} :::{{item.Phone}} </h2> -->

<!-- NESTED LOOPS OR MULTIDIMNSIONAL ARRAY -->

<!-- <ul *ngFor="let xyz of users">
    
        <li>Name: {{xyz.name}}</li>
        <li>Email Id: {{xyz.Email}}</li>
        <li>Phone No.: {{xyz.Phone}}</li>
        <li>Social Accounts</li>
    
    <ul *ngFor="let account of xyz.SocialAccounts">
        <li> {{account}}</li>
    </ul>
    
</ul> -->

<!-- Style Binding 

<div>
    <h1 [style.color]="color" [style.backgroundColor]= "bgColor">Hello anugular {{ title }}</h1>
</div>
<button (click)="updateColor()">color update</button> -->

<!-- HEADER

<app-header></app-header> -->

<!-- Toggle  -->
<!-- <h1 *ngIf="display; then ifBlock; else elseBlock"></h1>
<div>
  <ng-template #ifBlock>
    <h1 [style.color]="color1" [style.backgroundColor]="bgcolor1">
      Hello Angular {{ title }}
    </h1>
  </ng-template>
  <ng-template #elseBlock>
    <h1 [style.color]="color2" [style.backgroundColor]="bgcolor2">
      Hello Angular {{ title }}
    </h1>
  </ng-template>
</div>

<button id ="btn1" (click)="toggle()">Toggle</button>  -->

<!-- Bootstrap 

<p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>
-->
<!-- 
 <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div> -->

<!-- TodoList 


  <input type="text" placeholder="Enter New Task" #task />
  <br> 
  <br>
  <button (click)="NewTask(task.value)">Add New Task</button>

  <br>
  <br>


<ul *ngFor="let abc of list " >
  <li>{{abc.name}} <button (click)="RemoveItem(abc.id)">Remove</button></li>
</ul> -->

<!-- <app-child [item]="data"></app-child>
<button (click)="updateData()">Update Child Component</button> -->
<!-- <ul *ngFor="let data of userDetails">
<app-child [item]="data"></app-child>
</ul> -->
<!-- <h2>{{data}}</h2>  -->
<!-- <app-child (updateDataEvent)="updateData($event)"></app-child> -->

<!-- <input type="text" [(ngModel)]="data1">
<h2>{{data1}}</h2> -->

<!-- PIPES 
<h2>{{today|date:'fullDate'}}</h2> 
<h2>{{userData|json|uppercase}}</h2> 
<h1>{{003.3400|number:'1.2'}}</h1>
<h1>{{100|currency:'USD'}}</h1> -->

<!--FORMS
Forms Use 
1)Submission of some information in Database
2)But Angular cannot connect to Database
3)So we send data to API
4)and API update the Database
5)Example a)Login b)SignUP c)Post d)Google Search is also a form 

Forms Type in Angular
1)Template Driven Form (.html file is component-template )
  >Mostly work done in the component template.
2)Reactive Form (.ts is called class )
  >Mostly work done in component component-class.
DATA FLOW WITH FORMS
[template]->[class]->[service]->[Service]->[Database]

<h2>Template Driven Forms</h2>

<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input
    type="text"
    required
    #name="ngModel"
    pattern="[a-zA-Z]+$"
    name="name"
    placeholder="Enter Name"
    ngModel
  />
  <br />
  <span *ngIf="name.invalid && name.touched" style="color: red"
    >Please Enter Valid Input</span
  >
  <br />
  <input
    type="password"
    pattern="[0-9]*"
    name="password"
    minlength="2"
    required
    #password="ngModel"
    placeholder="Enter password"
    ngModel
  />
  <br />
  <span *ngIf="password.invalid && password.touched" style="color: red"
    >Please Enter Valid Input</span
  >
  <br />
  <br />
  <button [disabled]="loginForm.invalid">Log in</button>
</form>
 Outside Button will also work  
<button (click)="loginUser(loginForm.value)">Login</button> -->

<!-- REACTIVE FORMS IN ANGULAR -->
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="enter name" formControlName="user">
  <br>
  <span style="color: red;" *ngIf="user && user.invalid && user.touched">Invalid Input</span>
  <br>
  <input type="password" placeholder="enter password" formControlName="password">
  <br>
  <span style="color: red;" *ngIf="password && password.invalid && password.touched">Invalid Input</span>
  <br>
  <button [disabled]="loginForm.invalid">log in</button>
  
</form>

